html,body {
        margin: 0;
        padding: 0;
        height: 100%;
        border: none;
    }
.main {
    width: 100%;
    margin: 0 auto;
}
.PC img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.SP img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.countdown_box{
    position: relative;
}

#countdown{
    position: absolute;
    top: 5.3%;
    right:25%;
    color:white;
    background-color: #D38996;
    padding: 0.2% 1%;
    font-size: 3rem;
}
#countdown .unit{
    font-size: 2rem;
}

@media screen and (max-width: 1366px){
    #countdown{
        font-size: 2rem;
    }
    #countdown .unit{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1080px){
    #countdown{
        right:26%;
        font-size: 1.6rem;
    }
    #countdown .unit{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 812px){
    #countdown{
        right:26%;
        font-size: 1.2rem;
    }
    #countdown .unit{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 768px){
    #countdown{
        top: 7.9%;
        right:12%;
        font-size: 2.3rem;
    }
    #countdown .unit{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 667px){
    #countdown{
        font-size: 2rem;
    }
    #countdown .unit{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px){
    #countdown{
        right:7%;
    }
}
@media screen and (max-width: 414px){
    #countdown{
        right:14%;
        font-size: 1.2rem;
    }
    #countdown .unit{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 375px){
    #countdown{
        top: 7.8%;
        font-size: 1.1rem;
    }
}


.PC .offerbox{
    position: relative;
}

.PC .offerbox .offerbtn{
    position: absolute;
    width: 20%;
    display: block;
    bottom: 10%;
    right: 40%;
}

.SP .offerbox_m{
    position: relative;
}

.SP .offerbox_m .offerbtn_m{
    position: absolute;
    width: 63%;
    display: block;
    right: 18%;
    top: 45.5%;
}

.offerbtn:hover{
    opacity: 0.8; 
}

@media screen and (max-width: 768px){
    .SP .offerbtn{
        margin: 0% auto 5% auto;
        width: 58%;
    }
}

.sns_btn {
    text-align: center;
}
.sns_btn ul li{
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
}

.buybtn{
    width: 174px;
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 99;
}
.buybtn img{
    width: 100%; 
    height: auto;
}

@media screen and (max-width: 768px){
    .buybtn {
        width: 28%;
        max-width: 170px;
    }
}

.SP{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.SP{
    display: block;
}
}


